@namespace Blog.Shared

<header>
    <nav class="navbar">
        <img src="../img/logo2.jpg" class="logo" alt="">
        <ul class="links-container">
            <li class="link-item">
                <NavLink href="/">
                    <span class="link">Home</span>
                </NavLink>
            </li>
            <li class="link-item">
                <NavLink href="editor">
                    <span class="link">Editor</span>
                </NavLink>
            </li>
            <li class="link-item">
                <NavLink href="bloglist">
                    <span class="link">Blogs</span>
                </NavLink>
            </li>
        </ul>
    </nav>
</header>