@page "/"
@namespace Blog.Client.Pages
@inject HttpClient Http

<PageTitle>Index</PageTitle>

<body>
    <div>@apiMessage</div>
    <header>
        <nav class="navbar">
            <img src="../img/logo2.jpg" class="logo" alt="">
            <ul class="links-container">
                <li class="link-item">
                    <NavLink href="/">
                        <span class="link">Home</span>
                    </NavLink>
                </li>
                <li class="link-item">
                    <NavLink href="editor">
                        <span class="link">Editor</span>
                    </NavLink>
                </li>
            </ul>
        </nav>
    </header>

    <header class="header">
        <div class="content">
            <h1 class="heading">
                <span class="small">World of</span>
                blog
                <span class="no-fill">writing</span>
            </h1>
            <NavLink href="editor">
                <span class="btn">Write a Blog</span>
            </NavLink>
        </div>
    </header>

    <section class="blogs-section">
        <div class="blog-card">
            <img src="../img/mountain.jpg" class="blog-image" alt="">
            <h1 class="blog-title">Lorem ipsum dolor sit amet consectetur adipisicing elit.</h1>
            <p class="blog-overview">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Impedit consectetur
                beatae ab maiores. Enim, fuga.</p>
            <NavLink href="post">
                <span class="btn dark">Read</span>
            </NavLink>
        </div>
        <div class="blog-card">
            <img src="../img/waves.jpg" class="blog-image" alt="">
            <h1 class="blog-title">Lorem ipsum dolor sit amet consectetur adipisicing elit.</h1>
            <p class="blog-overview">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Impedit consectetur
                beatae ab maiores. Enim, fuga.</p>
            <NavLink href="post">
                <span class="btn dark">Read</span>
            </NavLink>
        </div>
    </section>
</body>

@code{
    private string apiMessage = "";

    protected override async Task OnInitializedAsync()
    {
        HttpResponseMessage response = await Http.GetAsync("/api/Function1");

        if(response.IsSuccessStatusCode)
        {
            apiMessage = await response.Content.ReadAsStringAsync();
        }
    }
}