@page "/"
@namespace Blog.Client.Pages

<PageTitle>Index</PageTitle>

<body>
    <nav class="navbar">
        <img src="../img/logo.png" class="logo" alt="" height="80px">
        <ul class="links-container">
            <li class="link-item">
                <NavLink href="/">
                    <span class="link">Home</span>
                </NavLink></li>
            <li class="link-item">
                <NavLink href="editor">
                    <span class="link">Editor</span>
                </NavLink>
            </li>
        </ul>
    </nav>

    <header class="header">
        <div class="content">
            <h1 class="heading">
                <span class="small">Welcome in the world of</span>
                blog
                <span class="no-fill">writing</span>
            </h1>
            <NavLink href="editor">
                <span class="btn">Editor</span>
            </NavLink>
        </div>
    </header>

    <section class="blogs-section">
        <div class="blog-card">
            <img src="../img/mountain.jpg" class="blog-image" alt="">
            <h1 class="blog-title">Lorem ipsum dolor sit amet consectetur adipisicing elit.</h1>
            <p class="blog-overview">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Impedit consectetur
                beatae ab maiores. Enim, fuga.</p>
                <NavLink href="editor">
                    <span class="btn dark">Editor</span>
                </NavLink>
        </div>
        <div class="blog-card">
            <img src="../img/waves.jpg" class="blog-image" alt="">
            <h1 class="blog-title">Lorem ipsum dolor sit amet consectetur adipisicing elit.</h1>
            <p class="blog-overview">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Impedit consectetur
                beatae ab maiores. Enim, fuga.</p>
                <NavLink href="post">
                    <span class="btn dark">Post</span>
                </NavLink>
        </div>
    </section>
</body>